{extend name="public:base"}
{block name="body"}
<h4 class="text-center text-danger">编辑用户信息</h4>
<form class="form-horizontal" action="{:url('admin/doEdit')}" method="post">
    <div class="form-group">
        <label class="col-sm-3 control-label">用户名:</label>
        <div class="col-sm-9">
            <input type="text" name="name" class="form-control"  value="{$adminInfo.name}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">邮箱:</label>
        <div class="col-sm-9">
            <input type="email" name="email" class="form-control"  value="{$adminInfo.email}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">手机号:</label>
        <div class="col-sm-9">
            <input type="text" name="mobile" class="form-control"  value="{$adminInfo.mobile}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">密码:</label>
        <div class="col-sm-9">
            <input type="text" name="password" class="form-control"  value="">
        </div>
    </div>
    <!--将当前用户的ID作为隐藏域数据传到服务器上-->
    <input type="hidden" name="id" value="{$adminInfo.id}">
    <div class="form-group text-center">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info" >保存</button>
        </div>
    </div>
</form>
{/block}