{extend name="public:base" /}
{block name="body"}
<h4 class="text-center text-success">用户列表</h4>
<table class="table table-default table-hover text-center">
    <tr>
        <td>ID</td>
        <td>用户名</td>
        <td>邮箱</td>
        <td>手机号</td>
        <td>注册时间</td>
        <td>身份</td>
        <td>状态</td>
        <td colspan="2">操作</td>
    </tr>
    {volist name="adminList" id="admin" empty="$empty"}
    <tr>
        <td>{$admin.id}</td>
        <td>{$admin.name}</td>
        <td>{$admin.email}</td>
        <td>{$admin.mobile}</td>
        <td>{$admin.create_time}</td>
        <td>
            {eq name="$admin.is_admin" value="0"}
            <span style="color: green">注册会员</span>
            {else /}
            <span style="color: red">管理员</span>
            {/eq}
        </td>
        <td>
            {eq name="$admin.status" value="1"}
            <span style="color: green">正常</span>
            {else /}
            <span style="color: red">禁用</span>
            {/eq}
        </td>

        <!--非当前用户是不允许编辑其它用户资料-->
        {eq name="$admin.id" value="$Think.session.admin_id"}
        <td><a href="{:url('admin/adminEdit',['id' => $admin.id])}">编辑</a></td>
        {/eq}
        {neq name="$admin.id" value="$Think.session.admin_id"}
        <td><a href="" onclick="dele({$admin.id});return false">删除</a></td>
        {/neq}
    </tr>
    {/volist}
</table>
<script>
    function  dele(id)
    {
        if(confirm('您是真的要删除吗？') == true)
        {
            window.location.href ="/admin.php/admin/doDelete.html"+"?id="+id;
        }
    }
</script>
{/block}